.masthead {
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    background-color: #000;
    background-size: cover;
}


body {
    font-family: Lora,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #000;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: black;
}

ul {
    margin-left: 30%;
    text-align: left;
}

header {
    margin-bottom: 0px;
}

#workoutDisplay {
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 16px;
}

#workoutDisplay2 {
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 16px;
}
#workoutDisplay3 {
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 16px;
}
#workoutDisplay4 {
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 16px;

}
#workoutDisplay5 {
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 16px;
}
#workoutDisplay6 {
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 16px;
}
#workoutDisplay7 {
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 16px;
}
#workoutDisplay8 {
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 16px;
}
#workoutDisplay9 {
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 16px;
}
#workoutDisplay10 {
    background-color: rgba(0, 0, 0, 0.56);
    font-size: 16px;
}

nav {
    height: 30px;
    background-color: darkslategray;
}

footer {
    background-color: black;
    width: auto;
    color: palegreen;
    text-align: center;
    margin-top: 0;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
    display: block;
    width:70%;
    margin-left:30%;
    margin-right:15%;
}

th {
    margin: 20px;
    width: 350px;
    font-size: 24px;
}

button {
    font-size: 16px;
    font-weight: bold;
}

a {
    margin-left: 50px;
    font-color: white;
    text-decoration: none;
}
a:link:active, a:visited:active {
    color: white;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

a:hover {
    color: hotpink;
}
